.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .home-button {
    display: flex;
    justify-content: flex-start;
  }
  
  .date-pickers {
    display: flex;
    gap: 10px;
  }