services:
  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      POSTGRES_USER: backenduser
      POSTGRES_PASSWORD: backendpassword
      POSTGRES_DB: rivermonitoring_development
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend/ruby
      dockerfile: Dockerfile
    container_name: rails_app
    environment:
      RAILS_ENV: development
      DB_HOST: postgres
      DB_USER: backenduser
      DB_PASS: backendpassword
      DB_PORT: 5432
      DB_PREFIX: rivermonitoring
      GMAIL_USERNAME: email
      GMAIL_PASSWORD: keypassword
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    volumes:
      - ./backend/ruby:/rails

  frontend:
    build:
      context: ./frontend/reactapp
      # dockerfile: Dockerfile
      dockerfile: Dockerfile.dev
    container_name: react_app
    environment:
      REACT_APP_BACKEND_HOST: http://localhost:3000
      PUBLIC_URL: ""
      PORT: 3001
    ports:
      - "3001:3001"
    volumes:
      - ./frontend/reactapp:/app
      - /app/node_modules
    stdin_open: true
    tty: true

volumes:
  postgres_data: